@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
    background: linear-gradient(rgb(243, 210, 210), #f6eeee);
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
}

.container{
    max-width: 70%;
    margin: 0 auto;
}

.header h1{
    text-align: center;
    margin-top: 4rem;
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.content_button{
    text-align: center;
    margin-top: 5rem;
}

.button{
    display: inline-block;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.1);
    margin: 8px auto;
    width: 65%;
    padding: 18px 0px;
    color: #333;
    font-size: 1rem;
    font-weight: 400;

    transition: transform .3s ease;
}

.button:hover{
    transform: scale(1.018);
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.23);
}